<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bookManageSystem.business.bookAnalyse.mapper.BookClusterMapper">
    <sql id="bookCluster_fields">
         ID,CLUSTERNAME,BOOKNUMBERS,APPID
     </sql>

    <resultMap id="bookClusterResultMap" type="BookCluster">
        <id property="id" column="ID" />
        <result property="clusterName" column="CLUSTERNAME" />
        <result property="bookNumbers" column="BOOKNUMBERS" />
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="BookCluster"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        bookcluster(
        <include refid="bookCluster_fields" />
        )
        VALUES (#{id},#{clusterName},#{bookNumbers},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="getClusterByAppId" parameterType="java.lang.Long" resultType="map">
        select b.clusterName as clusterName,b.bookNumbers as bookNumbers
        from bookcluster as b
        where appId=#{appId}
    </select>
</mapper>