<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bookManageSystem.business.bookAnalyse.mapper.ReaderRuleMapper">
    <sql id="readerRule_fields">
         ID,READERID,ITEMX,ITEMY,APPID
     </sql>

    <resultMap id="readerRuleResultMap" type="ReaderRule">
        <id property="id" column="ID" />
        <result property="readerId" column="READERID" />
        <result property="itemX" column="ITEMX" />
        <result property="itemY" column="ITEMY" />
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="ReaderRule"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        readerrule(
        <include refid="readerRule_fields" />
        )
        VALUES (#{id},#{readerId},#{itemX},#{itemY},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>
    <select id="getRulesByReaderId" parameterType="map" resultType="map">
        select r.itemX as itemX,r.itemY as itemY
        from readerrule as r
        where readerId=#{readerId} and appId=#{appId}
    </select>
</mapper>