<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--默认的映射处理器-->
   <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <bean id="testController" name="/hello.do" class="com.springmvc.controller.TestController"/>-->
     <!--&lt;!&ndash;简单的映射处理器&ndash;&gt;
     <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
            <property name="mappings">
                <props>
                    <prop key="/hello1.do">testController</prop>
                </props>
            </property>
     </bean>
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--MVC注解驱动-->
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.springmvc"/>

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--文件上传最大值以byte为单位-->
        <property name="maxUploadSize"  value="1024000"/>
    </bean>

    <!--拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.springmvc.inteceptor.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>